<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Впритул" Passive="true">Якщо ви робите Дальню Атаку і серед ваших союзників ви найближчі до цілі, додайте 1д4 до цього кидка.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Дика Грація" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримати одну Втому та порухатися на свою Швидкість ігноруючи загрозу від ворогів.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Командна Робота">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Сприйняттям. Бонус фланкування збільшений вдвічі при проведенні Дальніх Атак, допоки цей Стан активний.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Мерехтіння" Passive="true">Один раз за бій, після успішної Дальньої Атаки ви можете змусити ціль мерехтіти. Один хід вона не отримує бонусів до захисту від нечіткості.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Невідворотний" Reaction="true">Один раз за бій, коли ви промахуєтеся Дальньою Атакоюю, в якості Реакції ви можете отримати одну Втому та провести повторно цю Атаку проти іншої цілі.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Необмежена Швидкість">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Прудкістю. Допоки цей Стан активний, ваша Швидкість збільшена на половину.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Особлива Увага">Один раз за бій, в якості Дії ви можете отримати одну Втому, вибрати одного ворога та активувати цей Стан до неуспішного Опору Сприйняттям. Перед тим як обраний ворог проводить Атаку допоки цей Стан активний, в якості Реакції ви можете провести Дальню Атаку проти нього.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Подвійний Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести дві окремі Дальні Атаки.</Ability>
        </div>
    </div>
</div>