<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Вдалий Блок" Reaction="true">Один раз за бій, коли вас намагаються утримати, в якості Реакції ви можете отримати одну Втому щоб проігнорувати цей ефект.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Відступ" Reaction="true">Один раз за бій, коли вам нанесли Шкоду, в якості Реакції ви можете порухатися на половину своєї Швидкості.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Випад">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку зі збільшеною досяжністю на один.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Затримуючий Удад">Один раз за бій, якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Якщо вона успішна, ви хапаєте та утримуєте ціль.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Збиваючий Удар">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Якщо вона успішна, ціль падає долілиць.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Конфузія">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Якщо вона успішна, ціль отримує Заваду до кидків Атаки за Захисту на один хід.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Набіг">Один раз за бій, в якості Дії ви можете отримати одну Втому та порухатися на половину своєї Швидкості. Опісля цього можете провести Ближню Атаку.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Прикривання">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Союзник, сусідній з ціллю, може порухатися на половину своєї Швидкості.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Прицільний Удар">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку з Перевагою.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Розрізаючий Удар">Один раз за бій, в якості Дії ви можете отимати одну Втому та провести Ближню Атаку проти двох ворогів.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Сталеве Жало">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Якщо вона успішна, Швидкість цілі зменшується вдвічі до Опору Прудкістю.</Ability>
        </div>
    </div>
</div>