<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Бадьорлива Домішка">В якості Дії ви можете випити це зілля та використати один Куб Здоров'я щоб отримати Адреналін.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Резистетний Компонент">В якості Дії ви можете випити це зілля та отримати бонус до однієї Природної Стійкості у вигляді максимального значення Куба Рангу.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Протибольова Мікстура">В якості Дії ви можете випити це зілля та отримати бонус до кидків Захисту у вигляді Куба Рангу до неуспішного Опору Вдаченю.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Охолоджувальне Варево">В якості Дії ви можете випити це зілля та отримати Стан до неуспішного Опору Вдаченю. Якщо ви успішно проходите Опір Вдачею, всі сусідні вороги отримують 1д4 Крижаної Шкоди.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Арканічний Якір">Коли ви активуєте цей винахід, ви та ваші союзники прив'язуєтеся до нього магічним зв'язком. На час дії цього винаходу ніхто з при'язаних не може покинути радіус його дії, визначений в момент активації але не більший подвоєної вашої Швидкості.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Розкладний Трамплін">Коли ви активуєте цей винахід, він з м'якого матеріалу перетворюється у твердий трамплін, рух по якому збільшує дальність стрибку вдвічі. Опісля кожного використання киньде 1д12. Якщо випаде 1 або 2, то трамплін руйнується. Інакше його можна деактивувати для подальшого використання.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Димова Шашка">В якості Дії ви можете кинути цей снаряд. У місці його приземлення утворюється димова завіса на 1д6 раундів. Видимість всередині та ззовні всередину відсутня допоки ефект має місце.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Кислотна Завіса">В якості Дії ви можете кинути цей снаряд. У місці його приземлення та двох сусідніх позиціях утворюється стіна отруєних газів на 1д6 раундів. Уражені позиції є важкодоступними та нечіткими. Також при входженні або перебуванні в цих позиціях створіння отримує Куб Рангу Їдкої Шкоди.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Сяюча Паличка">Коли ви активуєте цей винахід, він стає джерелом легкого світла на 1д6 х 10 хв.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Система Безпеки">Коли ви активуєте цей винахід, він створює систему безпеки на невеликій площі. Якщо хтось перетинає її периметр напротязі наступних 1д12 годин, ви про це дізнаєтесь якщо будете перебувати всередині, навіть якщо ви непритомні.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Генератор Голольоду">В якості Дії ви можете кинути цей снаряд. У місці його приземлення та всіх позиціях в радіуса два утворюється гололід на 1д6 раундів. При входженні в ці позиції створіння падає при неуспішному Опорі Прудкістю.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Зв'язувальна Пастка">Коли ви активуєте цей винахід, він стає пасткою. Якщо створіння наступає на позиції цієї пастки протягом наступних 1д4 годин, вона знерухомлюється до Опору Силою, а пастка зникає.</Ability>
        </div>
    </div>
</div>