<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Агресивний Натиск" Passive="true">Протягом першого раунду ви маєте бонус до всіх кидків у вигляді 1д4.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Безупинний" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримату одну Втому та використати один Куб Здоров'я щоб отримати Адреналін.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Гнучкий як Гілка" Reaction="true">Один раз за бій, коли вас змушують рухатися, в якості Реакції ви можете отримати одну Втому щоб проігнорувати цей наказ.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Кривавий Екстаз" Reaction="true">Один раз за бій, коли ви успішно проводите Атаку, в якості Реакції ви можете отримати одну Втому та використати один Куб Здоров'я щоб отримати Адреналін.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Могутній Стрибок" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримату одну Втому щоб провести стрибок на половину своєї Швидкості. При цьому ви можете перестрибувати ворогів.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Моментальна Реакція" Reaction="true">Коли ви робите кидок Ініціативи, в якості Реакції можете отримати одну Втому та зробити цей кидок з Перевагою.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Непередбачений" Passive="true">Якщо у вас найбільша Ініціатива, ви маєте бонус до кидків Атаки та Захисту протягом першого раунду.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Хитрість Лиса" Reaction="true">Один раз за бій, коли вас атакують, в якості Реакції ви можете отримати одну Втому та порухатися на половину своєї швидкості. Якщо ви поза досяжністю цієї Атаки, то вона відміняється.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Швидкий як Вітер" Passive="true">Якщо ви вибрали Рух в якості Маневру та витратили всю Швидкість, отримайте 1д4 до всіх кидків Атаки цього ходу.</Ability>
        </div>
    </div>
</div>