<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Просунуті Вміння Ближнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Несамовита Лють</h6>
                <p>Ваші атаки підсилені Кубом Люті, розмір якого залежить від вашого Виснаження. Отримуючи одну Втому під час Атаки, ви можете подвоїти кількість Кубів Люті.</p>
                
            </div>
            <div class="callout">
                <h6>Агресивний Натиск</h6>
                <p>Виконуючи Маневр "Пересування", ви можете отримати одну Втому щоб збільшити свою Швидкість на значення вашого Виснаження.</p>
            </div>
            <div class="callout">
                <h6>Зціпивши Зуби</h6>
                <p>Коли ви отримуєте шкоду, в якості Реакції ви можете зменшити її на Куб Люті.</p>
            </div>
            <div class="callout">
                <h6>Шаленство</h6>
                <p>В бою ви ігноруєте останній негативний ефект Виснаження.</p>
            </div>
            <div class="callout">
                <h6>Нелюдська Стійкість</h6>
                <p>Ви отримуєте Травми при досягненні третини максимального Здоров'я, а не половини.</p>
            </div>
            <div class="callout">
                <h6>Швидке Відновлення</h6>
                <p>Під час Відпочинку ви не знімаєте Виснаження за звичайними правилами. Натомість ви кидаєте Куб Відновлення та позбавляєтесь відповідної кількості Втоми.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Прилив Адреналіну</h6>
                <p>Ваші Навички Тіла збільшені на один.</p>
            </div>
            <div class="callout callout-special">
                <h6>Бойова Роль</h6>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Захисник - Страхітлива Присутність</h6>
                            <p>Вороги, яким ви Загрожуєте, мають штраф до Атак у вигляді вашого Куба Люті.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Лідер - Надихаючий Рев</h6>
                            <p>Коли ви проводите успішну Атаку, один союзник може використати заряд Відновлення щоб отримати Адреналін. У такому випадку він додатково отримує Адреналін у розмірі вашого Куба Люті</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Спеціаліст - Нестримна Лють</h6>
                            <p>У бою ви ігноруєте два останні негативні ефекти Виснаження. Ви отримуєте Травми при досягненні четвертини максимального Здоров'я. Також розмір вашого Куба Люті збільшений.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>