<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul class="mb-0">
                    <li>Базові Вміння Ближнього Бою</li>
                    <li>Базові Вміння Дальнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Бойові Рефлекси</h6>
                <p>Ваш запас Реакцій на раунд збільшений на одну@* та збільшується ще на одну на початку кожного наступного Рангу*@.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Бойова Підготовка</h6>
                <p>Виберіть вид тренування, на якому ви спеціалізуєтеся.@* Зробіть цей вибір знову на початку кожного наступного Рангу*@.</p>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Біг</h6>
                            <p>Ваші Навички Витривалості та Спритності збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Верхова Їзда</h6>
                            <p>Ваші Навички Авторитету та Тваринництва збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Дуель </h6>
                            <p>Ваші Навички Дослідження та Прозорливості збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Паркур</h6>
                            <p>Ваші Навички Моторності та Спритності збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Полювання</h6>
                            <p>Ваші Навички Непомітності та Тваринництва збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Спаринг</h6>
                            <p>Ваші Навички Волі та Сили збільшені на три.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Стрільба З Лука</h6>
                            <p>Ваші Навички Моторності та Уважності збільшені на три.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
