<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Просунуті Вміння Дальнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Здобич</h6>
                <p>Один раз за свій хід ви можете оголосити будь-якого ворога своєю Здобиччю. Ваші Атаки проти Здобичі підсилені Кубом Мисливця, розмір якого збільшується з часом.</p>
            </div>
            <div class="callout">
                <h6>Мітка Мисливця</h6>
                <p>Наприкінці кожного свого ходу ваша Здобич робить Опор Розумом. Якщо він неуспішний, розмір вашого Куба Мисливця збільшується. Інакше ефект Здобичі спадає з неї, а ваш Куб Мисливця зменшується.</p>
            </div>
            <div class="callout">
                <h6>Спланований Постріл</h6>
                <p>Коли ваша Здобич робить успішний Опір проти цього ефекту, в якості Реакції ви можете нанести їй Куб Мисливця Шкоди дальньою зброєю.</p>
            </div>
            <div class="callout">
                <h6>Розмірений Постріл</h6>
                <p>Витративши Маневр, ви можете використовувати Куб Мисливця двічі за Атаку цього ходу.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Життя Без Цивілізації</h6>
                <p>Ваші Навички Виживання збільшені на один.@* На початку кожного наступного Рангу вони збільшуються ще на один.*@</p>
            </div>
            <div class="callout callout-special">
                <h6>Бойова Роль</h6>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Захисник - Простріл Зброї</h6>
                            <p>Коли вашого союзника атакують, в якості Реакції ви створюєте Заваду на цю Атаку. Також якщо атакуючий є вашою ціллю, його Атака додатково зменшується на ваш Куб Мисливця.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Лідер - Підтримка Здалеку</h6>
                            <p>Коли ви атакуєте, один союзник, якому Загрожує ваша ціль, може використати Куб Здоров’я щоб отримати Адреналін. Також якщо ціль є вашою Здобиччю, союзник додатково отримує Куб Мисливця Адреналіну.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Спеціаліст - Око Мисливця</h6>
                            <p>Здобич проходить перевірку проти цього ефекту із Завадою. Також початковий розмір вашого Куба Мисливця збільшений.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>