<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Просунуті Вміння Дальнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Мітка Мисливця</h6>
                <p>
                    При підготовці до раунду ви можете накласти на будь-якого ворога Мітку Мисливця до Опору Розумом. 
                    Ваші Атаки проти таких цілей підсилені Кубом Мисливця, розмір якого збільшується коли ціль Мітки Мисливця провалює Опір проти неї.
                    Якщо ж вона успішно проходить Опір проти Мітки Мисливця, розмір вашого Куби Мисливця зменшується.
                </p>
            </div>
            <div class="callout">
                <h6>Спланований Постріл</h6>
                <p>Коли ціль вашої Мітки Мисливця успішно проходить Опір проти неї, як Реакція ви можете нанести їй Куб Мисливця шкоди дальньою зброєю.</p>
            </div>
            <div class="callout">
                <h6>Розмірений Постріл</h6>
                <p>Як Маневр ви можете подвоювати кількість Кубів Мисливця цього ходу.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Безжалісне Полювання</h6>
                <p>Використовуючи Заряд Вдачі на кидку навички Виживання, ви не отримуєте Втому.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Життя Без Цивілізації</h6>
                <p>Ваші Навички Виживання збільшені на один.</p>
            </div>
            <div class="callout callout-special">
                <h6>Бойова Роль</h6>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Захисник - Простріл Зброї</h6>
                            <p>Коли вашого союзника атакують, як Реакція ви створюєте Заваду на цю Атаку. Також якщо атакуючий є вашою ціллю, його Атака додатково зменшується на ваш Куб Мисливця.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Лідер - Підтримка Здалеку</h6>
                            <p>Коли ви проводите успішну Атаку, один союзник, якому Загрожує ваша ціль, може використати заряд Відновлення щоб отримати Адреналін. Якщо ціль має вашу Мітку Мисливця, союзник додатково отримує Адреналін у розмірі вашого Куба Мисливця.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Спеціаліст - Око Мисливця</h6>
                            <p>Ціль вашої Мітки Мисливця має Заваду на кидки Опору проти цього ефекту. Також мінімальний розмір вашого Куби Мисливця збільшений.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>