<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Базові Вміння Ближнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Бойова Магія</h6>
                <p>Ви використовуєте свої магічні здібності не для створення заклять, а на підсилення бойових мистецтв. Конкретна реалізація цього принципу залежить від вибраного Класу.</p>
            </div>
        </div>
    </div>
</div>
