<div class="container-fluid cs-border" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control fs-10px" id="charName" value="Ім'я: @Name" />
        </div>
        <div class="col-1">
            <input type="text" class="form-control fs-10px" id="charLevel" value="@Level" />
        </div>
        <div class="col">
            @if (!NoClass)
            {
                <input type="text" class="form-control fs-10px" id="charClass" value="Архетип/Клас: @Archetype/@Class" />
            }
        </div>
        <div class="col">
            @if (!NoClass)
            {
                <input type="text" class="form-control fs-10px" id="charRace" value="Рід/Спадщина: @Ancestry/@Heritage" />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Level { get; set; }

    [Parameter]
    public string Archetype { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Ancestry { get; set; }

    [Parameter]
    public string Heritage { get; set; }

    [Parameter]
    public bool NoClass { get; set; }
}