<div class="container-fluid fs-12px" style="padding-left: 0.75rem; padding-right: 0.75rem;">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col-12 cs-border p-0">
                    <div class="form-floating">
                        <input type="text" class="form-control text-center fs-6 box-input" id="hpmax" value="@Health" />
                        <label for="hpmax" class="box-label">Максимум</label>
                    </div>
                </div>
                <div class="col-12 cs-border p-0">
                    <div class="form-floating">
                        <input type="text" class="form-control text-center fs-6 box-input" id="wound" value="@(NoWounds ? string.Empty : (Health / WoundDivider))" />
                        <label for="wound" class="box-label">Поранення</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <textarea class="form-control" id="hp" style="height: 93px;"></textarea>
                <label for="hp">Здоров'я</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <textarea class="form-control" id="adrenaline" style="height: 93px;"></textarea>
                <label for="adrenaline">Адреналін</label>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Health { get; set; } = 60;

    [Parameter]
    public int WoundDivider { get; set; } = 2;

    [Parameter]
    public bool NoWounds { get; set; }
}