<div class="container-fluid fs-12px">
    <div class="row">
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="speed" value="@Speed" />
                <label for="speed">Швидкість</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="reaction" value="@Reaction" />
                <label for="reaction">Реакції</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="tierDice" value="1д4" />
                <label for="tierDice">Куб Рангу</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <label class="feature-label">Заряди Вдачі</label>
            <br class="m-0" />
            <div class="ms-2">
                @foreach (var item in Enumerable.Range(0, Luck))
                {
                    <input type="checkbox" class="ms-1 me-1" />
                }
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="initiative" value="@Initiative" />
                <label for="initiative">Ініціатива</label>
            </div>
        </div>
        @if (!NoScars)
        {
            <div class="col cs-border p-0">
                <div class="form-floating">
                    <input type="text" class="form-control" id="scars" />
                    <label for="scars">Шрами</label>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Speed { get; set; }

    [Parameter]
    public string Reaction { get; set; }

    [Parameter]
    public string Initiative { get; set; }

    [Parameter]
    public int Luck { get; set; }

    [Parameter]
    public bool NoScars { get; set; }
}