<div class="container-fluid cs-border fs-10px">
    <div class="row">
        <div class="col">
            <table class="table table-sm caption-top mb-1">
                <caption>Навички Виживання</caption>
                <tbody>
                    <tr>
                        <td>Дослідження (Роз)</td>
                        <td>+@(Math.Round(Intellect / 2) + Investigation + Survival)</td>
                    </tr>
                    <tr>
                        <td>Непомітність (Пру)</td>
                        <td>+@(Math.Round(Agility / 2) + Stealth + Survival)</td>
                    </tr>
                    <tr>
                        <td>Тваринництво (Ріш)</td>
                        <td>+@(Math.Round(Resolve / 2) + AnimalHandling + Survival)</td>
                    </tr>
                    <tr>
                        <td>Уважність (Спр)</td>
                        <td>+@(Math.Round(Perception / 2) + Awareness + Survival)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top mb-1">
                <caption>Навички Знань</caption>
                <tbody>
                    <tr>
                        <td>Лор (Роз)</td>
                        <td>+@(Math.Round(Intellect / 2) + Lore + Knowledge)</td>
                    </tr>
                    <tr>
                        <td>Містика (Роз)</td>
                        <td>+@(Math.Round(Intellect / 2) + Mysticism + Knowledge)</td>
                    </tr>
                    <tr>
                        <td>Науки (Роз)</td>
                        <td>+@(Math.Round(Intellect / 2) + Science + Knowledge)</td>
                    </tr>
                    <tr>
                        <td>Окультизм (Спр)</td>
                        <td>+@(Math.Round(Perception / 2) + Occultism + Knowledge)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top mb-1">
                <caption>Навички Соціалізації</caption>
                <tbody>
                    <tr>
                        <td>Авторитет (Ріш+Шрами)</td>
                        <td>+@(Math.Round(Resolve / 2) + Authority + Social)</td>
                    </tr>
                    <tr>
                        <td>Воля (Ріш)</td>
                        <td>+@(Math.Round(Resolve / 2) + Willpower + Social)</td>
                    </tr>
                    <tr>
                        <td>Прозорливість (Спр)</td>
                        <td>+@(Math.Round(Perception / 2) + Insight + Social)</td>
                    </tr>
                    <tr>
                        <td>Харизма (Ріш-Шрами)</td>
                        <td>+@(Math.Round(Resolve / 2) + Charisma + Social)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top mb-1">
                <caption>Навички Тіла</caption>
                <tbody>
                    <tr>
                        <td>Витривалість (Міц)</td>
                        <td>+@(Math.Round(Might / 2) + Endurance + Physical)</td>
                    </tr>
                    <tr>
                        <td>Моторність (Пру)</td>
                        <td>+@(Math.Round(Agility / 2) + Dexterity + Physical)</td>
                    </tr>
                    <tr>
                        <td>Сила (Міц)</td>
                        <td>+@(Math.Round(Might / 2) + Strength + Physical)</td>
                    </tr>
                    <tr>
                        <td>Спритність (Пру)</td>
                        <td>+@(Math.Round(Agility / 2) + Swiftness + Physical)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public double Might { get; set; }

    [Parameter]
    public double Agility { get; set; }

    [Parameter]
    public double Perception { get; set; }

    [Parameter]
    public double Intellect { get; set; }

    [Parameter]
    public double Resolve { get; set; }

    [Parameter]
    public double Luck { get; set; }


    [Parameter]
    public double Investigation { get; set; }

    [Parameter]
    public double Stealth { get; set; }

    [Parameter]
    public double AnimalHandling { get; set; }

    [Parameter]
    public double Awareness { get; set; }


    [Parameter]
    public double Lore { get; set; }

    [Parameter]
    public double Mysticism { get; set; }

    [Parameter]
    public double Science { get; set; }

    [Parameter]
    public double Occultism { get; set; }


    [Parameter]
    public double Authority { get; set; }

    [Parameter]
    public double Willpower { get; set; }

    [Parameter]
    public double Insight { get; set; }

    [Parameter]
    public double Charisma { get; set; }


    [Parameter]
    public double Endurance { get; set; }

    [Parameter]
    public double Dexterity { get; set; }

    [Parameter]
    public double Strength { get; set; }

    [Parameter]
    public double Swiftness { get; set; }

    [Parameter]
    public double Physical { get; set; }

    [Parameter]
    public double Social { get; set; }

    [Parameter]
    public double Survival { get; set; }

    [Parameter]
    public double Knowledge { get; set; }
}
