<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Кров Демонів</h6>
                <p>Ваша Стійкість до Сяйва та Вогню збільшена на два.</p>
            </div>
            <div class="callout">
                <h6>Вогонь у Жилах</h6>
                <p>Один раз за битву коли ви отримуєте не Метафізичну шкоду, як Реакція ви можете отримати одну Втому та нанести сусідньому з вами ворогу Вогняну шкоду у тому ж розмірі, що й отримана вами шкода.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Демонічні Відмітки</h6>
                <p>Ваші навички Авторитету та Харизми збільшені на три.</p>
            </div>
        </div>
    </div>
</div>