<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Сила Вогню</h6>
                <p>Ви здатні як створювати невеликий вогонь так і контролювати вже існуюче полум’я. Також ваша Стійкість до Вогню збільшена на п'ять.</p>
            </div>
            <div class="callout">
                <h6>Палаюча Лють</h6>
                <p>Як Дія ви можете отримати одну Втому та провести Ближню чи Дальню Вогняну Атаку. Для проведення Дальньої Атаки вам не потрібна зброя.</p>
            </div>
            <div class="callout">
                <h6>Живий Вогонь</h6>
                <p>Один раз за бій, як Дія ви можете отримати одну Втому та провести Вогняну Атаку проти всіх сусідніх ворогів.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Вічне Сяйво</h6>
                <p>Ваші Навички Дослідження та Уважності збільшені на три.</p>
            </div>
        </div>
    </div>
</div>