<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Обсидіановий Дім</h6>
                <p>Ваша Стійкість до Вогню збільшена на два та збільшується ще на один на початку кожного наступного Рангу.</p>
            </div>
            <div class="callout">
                <h6>Загартований Болем</h6>
                <p>Один раз за бій, коли ми маєте стати Пораненим, в якості Реакції ви можете зупинити втрату Здоров’я за крок до цього стану.</p>
            </div>
            <div class="callout">
                <h6>Непохитна Стійкість</h6>
                <p>Один раз за бій, коли ми маєте досягнути Критичного стану, в якості Реакції ви можете зупинити втрату Здоров’я за крок до цього стану.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Дитя Вулкану</h6>
                <p>Ваша Навичка Витривалості збільшена на п’ять.</p>
            </div>
        </div>
    </div>
</div>