<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Розбещена Кров</h6>
                <p>Ваша Стійкість до Сяйва збільшена на два.</p>
            </div>
            <div class="callout">
                <h6>Дар Прокляття</h6>
                <p>Один раз за битву, як Дія ви можете отримати одну Втому та провести Ближню Некротичну Атаку. Ви отримуєте Адреналін у розмірі, рівному нанесеній шкоді.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Слуга Асмодеуса</h6>
                <p>Ваша навичка Містики збільшена на п'ять.</p>
            </div>
        </div>
    </div>
</div>