<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Розбещена Кров</h6>
                <p>Ваша Стійкість до Сяйва збільшена на два@* та збільшується ще на один на початку кожного наступного Рангу*@.</p>
            </div>
            <div class="callout">
                <h6>Дар Прокляття</h6>
                <p>Один раз за битву, в якості Дії ви можете отримати одну Втому та провести Ближню Некротичну Атаку. При попаданні ви відновлюєте кількість здоров’я, рівну нанесеній Шкоді.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Слуга Асмодеуса</h6>
                <p>Ваша Навичка Містики збільшена на п’ять.</p>
            </div>
        </div>
    </div>
</div>