<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Безупинний" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримату одну Втому та використати один Куб Здоров'я щоб отримати Адреналін.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Добивання">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку Пораненого ворога. Якщо вона успішна, ціль отримує подвійну Шкоду.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Кривавий Екстаз" Reaction="true">Один раз за бій, коли ви успішно проводите Атаку, в якості Реакції ви можете отримати одну Втому та використати один Куб Здоров'я щоб отримати Адреналін.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Могутній Стрибок" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримату одну Втому щоб провести стрибок на половину своєї Швидкості. При цьому ви можете перестрибувати ворогів.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Нескінченна Витривалість">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Вдаченю. Якщо ви розпочинаєте свій хід будучи Пораненим або в Критичному стані допоки цей Стан активний, то ви отримуєте 1д4 Адреналіну.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Перегрупування" Reaction="true">Один раз за бій, коли ворог покинув вашу зону Загрози, в якості Реакції ви можете отримати одну Втому та порухатися на свою Швидкість в його сторону.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Повний Випад" Maneuver="true">Один раз за бій, в якості Маневру ви можете отримату одну Втому щоб ваші Ближні Атаки мали збільшену на один досяжність у цей хід.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Просування">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Вдаченю. Проводячи успішну Атаку, допоки цей Стан активний, ви можете посунути ціль на одну позицію та зайняти тільки що звільнене місце.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Тактична Перевага" Reaction="true">Один раз за бій, коли ворог намагається покинути вашу зону Загрози, в якості Реакції ви можете отримати одну Втому та знерухомити його на цей хід.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Фланкування">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ближню Атаку. Бонус фланкування збільшений вдвічі при проведенні цієї Атаки.</Ability>
        </div>
    </div>
</div>