<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Впритул" Passive="true">Якщо ви робите Дальню Атаку і серед ваших союзників ви найближчі до цілі, додайте 1д4 до цього кидка.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Командна Робота">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Сприйняттям. Бонус фланкування збільшений вдвічі при проведенні Дальній Атак, допоки цей Стан активний.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Необмежена Швидкість">Один раз за бій, в якості Дії ви можете отримати одну Втому та активувати цей Стан до неуспішного Опору Прудкістю. Допоки цей Стан активний, ваша Швидкість збільшена на два.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Неочікуваність" Passive="true">Якщо у вас найбільша Ініціатива, ви маєте бонус до кидків Атаки та Захисту протягом першого раунду.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Особлива Увага">Один раз за бій, в якості Дії ви можете отримати одну Втому, вибрати одного ворога та активувати цей Стан до неуспішного Опору Сприйняттям. Перед тим як обраний ворог проводить Атаку допоки цей Стан активний, в якості Реакції ви можете провести Дальню Атаку проти нього.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Подвійний Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести дві окремі Дальні Атаки.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Швидкий як Вітер" Passive="true">Якщо ви вибрали Рух в якості Маневру та витратили всю Швидкість, отримайте 1д4 до всіх кидків Атаки цього ходу.</Ability>
        </div>
    </div>
</div>