@using Pentaforce.Beta.Wiki.ViewModels

@page "/race"
@page "/pentaforce/race"

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button type="button" class="nav-link @(Ancestry == AncestryType.Azmodei ? "active" : string.Empty)" @onclick="ShowAzmodei">Азмодей</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link @(Ancestry == AncestryType.Draconian ? "active" : string.Empty)" @onclick="ShowDraconide">Драконіанин</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link @(Ancestry == AncestryType.Ymerith ? "active" : string.Empty)" @onclick="ShowYmerith">Імерит</button>
                </li>
            </ul>
        </div>
    </div>
    <HeritageView Ancestry="Ancestry"></HeritageView>
</div>

@code {
    private AncestryType Ancestry { get; set; } = AncestryType.Azmodei;

    private void ShowAzmodei() => Ancestry = AncestryType.Azmodei;

    private void ShowDraconide() => Ancestry = AncestryType.Draconian;

    private void ShowYmerith() => Ancestry = AncestryType.Ymerith;
}
