<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Базові Вміння Дальнього Бою</li>
                    <li>Базові Винаходи</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Винаходи</h6>
                <p>
                    Ви маєте доступ до групи вмінь Винаходів та додтакове очко Здібності. Окрім цього у вашій наявні є три заряди винахідництва@*та їх кількість збільшується на один на початку кожного наступного Рангу*@. Витративши один заряд та трохи часу, ви можете створити будь-який винахід та не більше одного одночасного використання на один Винахід. Під час Відпочинку ми відновлюєте 1д4 витрачені заряди винахідництва.</p>
            </div>
            <div class="callout">
                <h6>Нескінченне Майстрування</h6>
                <p>Ви здатні покращувати будь-яку зброю та обладунки, надаючи їм нових властивостей. Одночасно зроблених вами покращень може бути не більше чотирьох.@* На початку кожного наступного Рангу їх максимальна кількість збільшується на два.*@</p>
            </div>
            <div class="callout">
                <h6>Імпровізована Модернізація</h6>
                <p>Один раз за бій, в якості Маневру ви можете тимчасово покращити на весь бій будь-який предмет відомою вам властивістю.@* На початку кожного наступного Рангу максимальна кількість тимчасових покращень на бій збільшується на одне. Ви можете як надати кілька властивостей одному предмету одним Маневром, так і кільком різним предметам окремим Маневром на кожен з них.*@</p>
            </div>
            <div class="callout">
                <h6>Руки Пам’ятають</h6>
                <p>Виберіть три властивості, які ви можете використовувати в якості тимчасових покращень, зі списку нижче.@* На початку кожного наступного Рангу ви можете обрати додатково дві властивості.*@</p>
                <div class="row">
                    @*<div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Аеродинамічність</h6>
                            <p>Оберіть предмет та збільшіть удвічі відстань, на яку його можна кинути.</p>
                        </div>
                    </div>*@
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Вибуховість</h6>
                            <p>Оберіть зброю. Успішні Атаки нею наносять сусіднім до цілі ворогам 1д4 Звукової Шкоди.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Дроблення</h6>
                            <p>Оберіть зброю. Атаки нею проти Поранених ворогів підсилені Кубом Рангу.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Заточення</h6>
                            <p>Оберіть зброю. Атаки нею проти ще не вражених ворогів підсилені Кубом Рангу.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Каліцтво</h6>
                            <p>Оберіть зброю. Успішні Атаки нею Уповільнюють до успішного Опору Силою.</p>
                        </div>
                    </div>
                   @* <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Обтяження</h6>
                            <p>Оберіть ближню зброю та надайте Перевагу на Атаки нею.</p>
                        </div>
                    </div>*@
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Отруєння</h6>
                            <p>Оберіть зброю. Успішні Атаки нею роблять ворога Ослабленим на один хід.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Подовження</h6>
                            <p>Оберіть ближню зброю та збільшіть її досяжність на один.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Приголомшення</h6>
                            <p>Оберіть зброю. Успішні Атаки нею збивають з ніг.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Сила Природи</h6>
                            <p>Оберіть зброю та змініть її тип Шкоди на будь-який Природний тип Шкоди.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Загострення</h6>
                            <p>Оберіть елемент броні або щит. Коли її носія атакує сусідній ворог, в якості Реакції носій може нанести цьому ворогу 1д4 Проникаючої Шкоди.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Покращення</h6>
                            <p>Оберіть елемент броні або щит. Носіння його збільшує Стійкості Фізичній та Природній Шкоді на 1д4.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Полегшення</h6>
                            <p>Оберіть елемент броні. Носіння його збільшує Швидкість на два.</p>
                        </div>
                    </div>
                    @*<div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Сенсорний Захист</h6>
                            <p>Оберіть головний убір. Носіння його дозволяє автоматично уникати будь-яких впливів на органи відчуттів.</p>
                        </div>
                    </div>*@
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Слизкість</h6>
                            <p>Оберіть елемент броні або щит. Носіння його дозволяє автоматично уникати знерухомлення.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout">
                <h6>Автоматон</h6>
                <p>Ви маєте Автоматона - несвідомого техномагічного супутника, здатного виконувати ваші команди. В бою він має власний хід та власний набір Здібностей, якими може користуватися. У разі знищення Автоматона, ви можете його відбудувати або створити нову його копію.</p>
            </div>
            <div class="callout">
                <h6>Техномагія</h6>
                <p>Ви можете обрати п’ять покращень Автоматона зі списку, наведеного нижче.@* На початку кожного наступного Рангу ви можете вибрати додатково ще одне покращення.*@</p>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Автоматичні Прискорювачі</h6>
                            <p>Швидкість вашого Автоматона збільшена на два. Також Прудкість вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Вогнемет</h6>
                            <p>Один раз за битву, в якості Дії ваш Автоматон може провести Вогняну Атаку проти всіх створінь, що знаходяться в дотичному до нього конусі дальністю два або по-прямій з дальністю чотири. Також Інтелект вашого Автоматона збільшений на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Завантажувальний Механізм</h6>
                            <p>Ваш Автоматон може проводити Дальні Атаки з відстанню шість. Також Сила вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Загальне Покращення</h6>
                            <p>Всі Стійкості вашого Автоматона збільшені на два. Також всі Атрибути вашого Автоматона збільшені на один.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Заряд Тесла</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може телепортуватися на відстань, вдвічі більшу за його Швидкість. По-прибуттю він проводить Електричну Атаку по всім сусіднім створінням. Також Інтелект вашого Автоматона збільшений на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Змінний Арсенал</h6>
                            <p>Перед кожною його Атакою ви можете вирішити який тип Фізичної Шкоди буде нанесено. Також Вдача вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Кислотний Розпорошувач</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може провести Їдку Атаку проти всіх ворогів. При попаданні, ціль отримує Куб Рангу постійної Їдкої Шкоди до успішного Опору Силою. Також Рішучість вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Металеве Покриття</h6>
                            <p>Стійкість до Фізичної Шкоди вашого Автоматона збільшена на шість. Також Сила та Вдача вашого Автоматона збільшені на два.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Метафізичні Відштовхувачі</h6>
                            <p>Стійкість до Магічної Шкоди вашого Автоматона збільшена на шість. Також Рішучість та Вдача вашого Автоматона збільшені на два.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Нестабільні Запчастини</h6>
                            <p>Один раз за бій коли ваш Автоматон отримує Фізичну або Природну Шкоду, в якості Реакції він може нанести одному сусідньому ворогу Дроблячу Шкоду рівну отриманій Автоматоном Шкоді. Також Вдача вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Охолоджуючі Елементи</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може провести Ближню Крижану Атаку. При попаданні, ціль стає Знерухомленою до Опору Силою. Також Рішучість вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Пересувальні Підсилювачі</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може стрибнути на свою Швидкість та по-приземленню провести Звукову Атаку проти всіх сусідніх створінь. Також Прудкість вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Руки-Відбивачі</h6>
                            <p>Один раз за битву, в якості Дії ваш Автоматон може провести Ближню Атаку з досяжністю, збільшеною на один. Якщо Атака успішна, ціль може бути відкинута на Куб Рангу. Також Сила вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Рухливі Елементи</h6>
                            <p>Досяжність Ближніх Атак вашого Автоматона збільшена на один. Також Прудкість вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Самостійний Елемент</h6>
                            <p>Один раз за битву, в якості Дії ваш Автоматон може від’єднати свою частину, яка буде діяти як окремий Мікроавтоматон. Також Сприйняття вашого Автоматона збільшене на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Стабілізатори</h6>
                            <p>Вашого Автоматона неможливо Опрокинути, Уповільнити чи Знерухомити. Також Сила та Прудкість вашого Автоматона збільшені на два.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Самовідновлювальні Зв’язки</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може активувати регенерацію у вигляді Куба Рангу до неуспішного Опору Вдачею. Також Вдача вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Температурні Регулятори</h6>
                            <p>Стійкість до Природної Шкоди вашого Автоматона збільшена на шість. Також Сприйняття та Вдача вашого Автоматона збільшені на два.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Удосконалена Броня</h6>
                            <p>Один раз за бій, в якості Дії ваш Автоматон може активувати цей Стан до неуспішного Опору Вдачею. Допоки цей Стан активний, він має Перевагу на кидках Захисту. Також Сила вашого Автоматона збільшена на чотири.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="callout callout-inner">
                            <h6>Щит</h6>
                            <p>Коли вашого Автоматона атакують, в якості Реакції він може отримати Куб Рангу до кидка Захисту. Також Сила та Рішучість вашого Автоматона збільшені на два.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout callout-skill">
                <h6>Майстер на Всі Руки</h6>
                <p>Ваші Заряди Вдачі та ваших союзників дають два Куби Рангу, замість одного.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Професійна Деформація</h6>
                <p>Ваші Навички Дослідження, Моторності, Наук та Окультизму збільшені на один. На початку кожного наступного Рангу вони збільшуються ще на один.</p>
            </div>
            <div class="callout callout-special">
                <h6>Бойова Роль</h6>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Захисник - Джаггернаут</h6>
                            <p>Коли вашого союзника атакують, в якості Реакції ваш Автоматон може порухатися на свою Швидкість щоб стати сусіднім до цілі. В такому випадку Автоматон стає ціллю Атаки замість союзника та отримує Перевагу на кидки Захисту до свого ходу.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Лідер - Техномагічна Підтримка</h6>
                            <p>У хід вашого союзника, в якості Реакції ваш Автоматон може надати йому можливість використати Куб Здоров’я з Перевагою щоб отримати Адреналін.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Спеціаліст - Техномагічний геній</h6>
                            <p>Максимальна кількість одночасно зроблених вами покращень збільшена на два. Максимальна кількість тимчасових покращень на бій збільшена на одне, а кількість відомих вам тимчасових властивостей збільшена на три. Кількість покращень Автоматона збільшена на одне@* та збільшується ще на одне на початку кожного наступного Рангу*@.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>