@page "/automaton"
@page "/Pentaforce/automaton"

<div>
    <CharInfo Name="Автоматон"></CharInfo>
    <Attributes></Attributes>
    <Skills></Skills>
    <Misc Speed="4" Reaction="1" Initiative="1д6" NoScars="true"></Misc>
    <HP Health="60" HealCount="5" NoWounds="true" BattleDice="0"></HP>
    <Defences></Defences>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 m-0 cs-border">
            </div>
        </div>
    </div>
    @*<div class="container-fluid" style="page-break-before: always!important;">
    <div class="row">
    <div class="col-4 cs-border pt-2" style="height: 276px;">
    <Card Caption="Test" Action="true">There will be some text</Card>
    </div>
    </div>
    </div>*@
</div>
