<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Кров Демонів</h6>
                <p>Ваша Стійкість до Сяйва збільшена на два та збільшується ще на один на початку кожного нового Рангу.</p>
            </div>
            <div class="callout">
                <h6>Вогонь у Жилах</h6>
                <p>Коли ви отримуєте Фізичну або Природну Шкоду, в якості Реакції ви можете нанести одному сусідньому ворогу Куб Рангу Вогняної Шкоди.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Демонічне Клеймо</h6>
                <p>Ваші Авторитет та Шарм збільшені на три.</p>
            </div>
        </div>
    </div>
</div>