<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Кров Демонів</h6>
                <p>Ваша Стійкість до Сяйва збільшена на два@* та збільшується ще на один на початку кожного нового Рангу*@.</p>
            </div>
            <div class="callout">
                <h6>Вогонь у Жилах</h6>
                <p>Один раз за битву коли ви отримуєте Фізичну або Природну Шкоду, в якості Реакції ви можете нанести одному сусідньому з вами ворогу Вогняну Шкоду у тому ж розмірі, що й отримана вами Шкода.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Демонічні Відмітки</h6>
                <p>Ваші Навички Авторитету та Харизми збільшені на три.</p>
            </div>
        </div>
    </div>
</div>