<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Бойові Вміння</h6>
                <ul>
                    <li>Просунуті Вміння Ближнього Бою</li>
                </ul>
            </div>
            <div class="callout">
                <h6>Несамовита Лють</h6>
                <p>Ваші атаки підсилені Кубом Люті, розмір якого залежить від вашого Виснаження. Також в бою ви ігноруєте останній негативний ефект Виснаження.</p>
            </div>
            <div class="callout">
                <h6>Шаленство</h6>
                <p>Отримуючи одну Втому, ви можете використовувати Куб Люті двічі за Атаку.</p>
            </div>
            <div class="callout">
                <h6>Агресивний Натиск</h6>
                <p>Отримуючи одну Втому, ви можете збільшити свою Швидкість на значення вашого Виснаження на один хід.</p>
            </div>
            <div class="callout">
                <h6>Зціпивши Зуби</h6>
                <p>Коли ви отримуєте Шкоду, в якості Реакції ви можете зменшити її на Куб Люті.</p>
            </div>
            <div class="callout">
                <h6>Швидке Відновлення</h6>
                <p>Під час Відпочинку ви не знімаєте Виснаження як зазвичай. Натомість ви Куб Здоров'я Втоми.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Прилив Адреналіну</h6>
                <p>Ваші Навички Тіла збільшені на один.@* На початку кожного наступного Рангу вони збільшуються ще на один.*@</p>
            </div>
            <div class="callout callout-special">
                <h6>Бойова Роль</h6>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Захисник - Страхітлива Присутність</h6>
                            <p>Вороги, яким ви Загрожуєте, мають штраф до Атак у вигляді вашого Куба Люті.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Лідер - Надихаючий Рев</h6>
                            <p>Коли ви успішно проводите Атаку, один союзник може використати свій Куб Здоров’я, щоб отримати Адреналін з бонусом у вигляді вашого Куба Люті.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Спеціаліст - Нестримна Лють</h6>
                            <p>У бою ви ігноруєте два останні негативні ефекти Виснаження. Також розмір вашого Куба Люті збільшений.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>