<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <Ability Caption="Відволікаючий Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку. Якщо вона успішна, можете порухатися на половину своєї Швидкості.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Вивірений Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку з Перевагою.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Виділяючий Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку. Якщо коло цілі нікого немає, то вона отримує подвійну Шкоду.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Гнучкий як Гілка" Reaction="true">Один раз за бій, коли вас змушують рухатися, в якості Реакції ви можете отримати одну Втому щоб проігнорувати цей наказ.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Завершальний Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку проти Пораненого ворога. Якщо вона успішна, ціль отримує подвійну Шкоду.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Каліцтво">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку. Якщо вона успішна, ціль отримує 1д4 постійної Некротичної Шкоди до Опору Вдачею.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Перешкоджаючий Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку. Якщо вона успішна, Швидкість цілі зменшуєтсья вдвічі до Опору Спритністю.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Полювання Починається" Passive="true">Коли ви робите кидок Ініціативи, в якості Реакції можете отримати одну Втому та зробити цей кидок з Перевагою.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Розподілений Постріл">Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Дальню Атаку проти двох цілей.</Ability>
        </div>
        <div class="col-12 col-md-3">
            <Ability Caption="Хитрість Лиса" Reaction="true">Один раз за бій, коли вас атакують, в якості Реакції ви можете отримати одну Втому та порухатися на половину своєї швидкості. Якщо ви поза досяжністю цієї Атаки, то вона відміняється.</Ability>
        </div>
    </div>
</div>