@page "/charsheet"
@page "/Pentaforce/charsheet"

<div>
    <CharInfo></CharInfo>
    <Attributes></Attributes>
    <Skills></Skills>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <Misc></Misc>
                <HP></HP>
            </div>
            <div class="col-3 cs-border p-0">
                <div class="form-floating">
                    <input type="text" class="form-control" id="wounds" style="height: 12.9rem;" />
                    <label for="wounds">Травми</label>
                </div>
            </div>
        </div>
    </div>
    <Defences></Defences>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 p-0 m-0">
                <Fatigue></Fatigue>
            </div>
            <div class="col p-0 m-0 cs-border">
            </div>
        </div>
        <div class="row">
            <div class="col-5 cs-border">
            </div>
            <div class="col cs-border">
            </div>
        </div>
        <div class="row">
            <div class="col-5 cs-border">
            </div>
            <div class="col cs-border">
            </div>
        </div>
    </div>
    @*<div class="container-fluid" style="page-break-before: always!important;">
        <div class="row">
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Caption="Test" Action="true">There will be some text</Card>
            </div>
        </div>
    </div>*@
</div>
