<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Драконяча спадщина</h6>
                <p>Виберіть колір дракона, чия кров тече у ваших жилах</p>
                <div class="row">
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Білий</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Жовтий</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Зелений</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Синій</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Червоний</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="callout callout-inner">
                            <h6>Чорний</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout">
                <h6>Сила Природи</h6>
                <p>Виберіть тип Шкоди вашого драконячого пращура зі списку Природних типів Шкоди. Ваша Стійкість до цього виду Шкоди збільшена на чотири@* та збільшується ще на два на початку кожного наступного Рангу*@.</p>
                <div class="row">
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Вогняна</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Електрична</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Звукова</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Їдка</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="callout callout-inner">
                            <h6>Крижана</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout">
                <h6>Драконячі Ознаки</h6>
                <p>Виберіть одну з драконячих Ознак.</p>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="callout callout-inner">
                            <h6>Драконячий Подих</h6>
                            <p>Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Атаку вашої Сили Природи проти всіх створінь, що знаходяться в дотичному до вас конусі дальністю три або по-прямій із дальністю п'ять.@* На початку кожного наступного Рангу дальність конусу збільшується на один, а дальність прямої збільшується на два.*@</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="callout callout-inner">
                            <h6>Драконячий Голос</h6>
                            <p>Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Ментальну Атаку проти всіх ворогів. Кожна ціль, по якій ви попали, отримує Куб Рангу Ментальної Шкоди та має Заваду на кидках Атаки та Захисту до успішного Опору Рішучістю.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="callout callout-inner">
                            <h6>Драконяча Кров</h6>
                            <p>Коли вам наносять Фізичну чи Природну Шкоду, в якості Реакції ви можете нанести сусідньому ворогу Куб Рангу Шкоди вашої Сили Природи.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="callout callout-inner">
                            <h6>Драконяча Луска</h6>
                            <p>Ваша Стійкість проти Фізичних типів Шкоди збільшена на два@* та збільшується ще на два на початку кожного наступного Рангу*@.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout callout-skill">
                <h6>Драконячий Характер</h6>
                <p>Виберіть одну з драконячих Рис.</p>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Гнів</h6>
                            <p>Ваш Навичка Авторитету збільшена на п’ять.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Гонор</h6>
                            <p>Ваші Навички Знань збільшені на один.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Пиха</h6>
                            <p>Ваша Навичка Харизми збільшена на п’ять.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Самостійність</h6>
                            <p>Ваші Навички Витривалості, Непомітності, Сили та Спритності збільшені на один.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Терпіння</h6>
                            <p>Ваші Навички Волі, Дослідження, Непомітності та Тваринництва збільшені на один.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="callout callout-inner">
                            <h6>Хижість</h6>
                            <p>Ваші Навички Дослідження, Непомітності, Прозорливості та Уважності збільшені на один.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>