<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout">
                <h6>Чиста Кров</h6>
                <p>Ви можете обрати додаткову драконячу Ознаку.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Сакралітет</h6>
                <p>Ваша Навичка Містики збільшена на п’ять.</p>
            </div>
        </div>
    </div>
</div>