<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Сила Вогню</h6>
                <p>Ви здатні як створювати невеликий вогонь так і контролювати вже існуюче полум’я. Також ваша Стійкість до Вогню збільшена на чотири@* та збільшується ще на два на початку кожного наступного Рангу*@.</p>
            </div>
            <div class="callout">
                <h6>Палаюча Лють</h6>
                <p>Коли ви проводите Базову Атаку, ви можете змінити тип її Шкоди на Вогняну. Також вам не потрібна зброя щоб проводити Базову Вогняну Дальню Атаку.</p>
            </div>
            <div class="callout">
                <h6>Живий Вогонь</h6>
                <p>Один раз за бій, в якості Дії ви можете отримати одну Втому та провести Вогняну Атаку проти всіх сусідніх ворогів.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Вічне Сяйво</h6>
                <p>Ваші Навички Дослідження та Уважності збільшені на три.</p>
            </div>
        </div>
    </div>
</div>