@page "/katarakta"
@page "/Pentaforce/katarakta"

<div>
    <CharInfo Name="Катаракта" Level="2" Archetype="Відьмак" Class="Винахідник" Ancestry="Імерит" Heritage="Вогняний"></CharInfo>
    <Attributes Might="9" Agility="4" Perception="4" Intellect="10" Resolve="9" Luck="2"></Attributes>
    <Skills Might="9" Agility="4" Perception="4" Intellect="10" Resolve="9" Luck="2" Authority="5" Investigation="3+1" Awareness="3" Dexterity="1" Science="1" Occultism="1"></Skills>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <Misc Reaction="1" Speed="5" Initiative="1д8" BattleDice="38" Luck="2"></Misc>
                <HP></HP>
            </div>
            <div class="col-3 cs-border p-0">
                <div class="form-floating">
                    <input type="text" class="form-control" id="wounds" style="height: 12.9rem;" />
                    <label for="wounds">Травми</label>
                </div>
            </div>
        </div>
    </div>
    <Defences Fire="+5"></Defences>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 p-0 m-0">
                <Fatigue></Fatigue>
            </div>
            <div class="col p-0 m-0 cs-border">
                <Feature Caption="Майстер на Всі Руки" NoBorder="true">Ваші Заряди Вдачі дають два Куби Рангу, замість одного.</Feature>
                <Feature Caption="Сила Вогню">Ви здатні як створювати невеликий вогонь так і контролювати вже існуюче полум’я.</Feature>
                <Feature Caption="Предметне Покращення">Ви здатні покращувати будь-яку зброю та обладунки, надаючи їм нових властивостей. Одночасно зроблених вами покращень може бути не більше чотирьох.</Feature>
            </div>
        </div>
        <div class="row">
            <div class="col-5 cs-border">
                <Feature Caption="Винаходи" NoBorder="true">
                    Ви маєте доступ до трьох зарядів винахідництва. Витративши один заряд та трохи часу, ви можете створити будь-який винахід але не більше одного одночасного використання на один винахід. Під час Відпочинку ви відновлюєте 1д2 витрачені заряди винахідництва.
                </Feature>
                <Feature Caption="Бойова Роль: Спеціаліст - Техномагічний геній" NoBorder="true">
                    Максимальна кількість одночасно зроблених вами покращень збільшена на одне. Максимальна кількість тимчасових покращень на бій збільшена на одне, а кількість відомих вам тимчасових властивостей збільшена на дві. Кількість покращень Автоматона збільшена на одне.
                </Feature>
            </div>
            <div class="col cs-border">
                <Feature Caption="Вибуховість">Оберіть зброю. Успішні Атаки нею наносять сусіднім до цілі ворогам 1д4 Звукової Шкоди.</Feature>
                <Feature Caption="Дроблення">Оберіть зброю. Атаки нею проти Поранених ворогів підсилені Кубом Рангу.</Feature>
                <Feature Caption="Загострення">Оберіть елемент броні або щит. Коли її носія атакує сусідній ворог, він отримує 1д4 Проникаючої Шкоди.</Feature>
                <Feature Caption="Отруєння">Оберіть зброю. Успішні Атаки нею роблять ворога Ослабленим на один хід.</Feature>
                <Feature Caption="Сила Природи" NoBorder="true">Оберіть зброю та змініть її тип Шкоди на будь-який Природний тип.</Feature>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="page-break-before: always!important;">
        <div class="row">
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card FontSize="11">
                    <ul style="padding-left: 1rem">
                        <li>Уповільнений - ваша швидкість зменшена вдвічі</li>
                        <li>Знерухомлений - ви не можете використовувати Маневри</li>
                        <li>Приголомшений - ви не можете використовувати Дії</li>
                        <li>Ошелешений - ви не можете використовувати Реакції</li>
                        <li>Ослаблений - ви наносите вдвічі менше шкоди</li>
                        <li>Заляканий - ви маєте Заваду на кидках Атаки та Захисту</li>
                        <li>Опрокинений - ви маєте Критичну Заваду на кидки Захисту проти Ближніх Атак</li>
                    </ul>
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Action="true" Caption="Базова Атака">
                    Проведіть Ближню Дроблячу Атаку або Ближню чи Дальню Атаку із застосуванням зброї.
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Maneuver="true" Caption="Пересування">
                    Порухайтесь на свою Швидкість.
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Maneuver="true" OneTime="true" Fatigue="true" Caption="Імпровізована Модернізація">
                    Покращте на весь бій будь-який предмет відомою вам властивістю.
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Maneuver="true" OneTime="true" Fatigue="true" Caption="Імпровізована Модернізація">
                    Покращте на весь бій будь-який предмет відомою вам властивістю.
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Action="true" Fatigue="true" Caption="Палаюча Лють">
                    Проведіть Ближню чи Дальню Вогняну Атаку.<br /> <i>для проведення Дальньої Атаки вам не потрібна зброя</i>
                </Card>
            </div>
            <div class="col-4 cs-border pt-2" style="height: 276px;">
                <Card Action="true" OneTime="true" Fatigue="true" Caption="Живий Вогонь">
                    Проведіть Вогняну Атаку проти всіх сусідніх ворогів.
                </Card>
            </div>
        </div>
    </div>
</div>