<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="callout callout-special">
                <h6>Сила Природи</h6>
                <p>Ви здатні частково контролювати елемент вашої Спадщини. Конкретна реалізація залежить від вибраної Спадщини.</p>
            </div>
            <div class="callout callout-skill">
                <h6>Втілення Елементів</h6>
                <p>Ваша Навичка Авторитету збільшена на п’ять.</p>
            </div>
        </div>
    </div>
</div>