@page "/dice"

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>Dice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>