<div class="container-fluid fs-12px">
    <div class="row">
        <div class="col-2 cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="hpmax" value="80" />
                <label for="hpmax">Макс. Здоров'я</label>
            </div>
        </div>
        <div class="col-2 cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="wound" value="40" />
                <label for="wound">Поранення</label>
            </div>
        </div>
        <div class="col-2 cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-center fs-5" id="healDice" value="2д4" />
                <label for="healDice">Куб Здоров'я</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control" id="surges" />
                <label for="surges">Заряди Здоров'я</label>
            </div>
        </div>
        <div class="col-2 cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control" id="woundCount" />
                <label for="woundCount">Поранення</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col cs-border p-0">
            <div class="form-floating">
                <textarea class="form-control" id="hp" style="height: 80px;"></textarea>
                <label for="hp">Здоров'я</label>
            </div>
        </div>
        <div class="col-3 cs-border p-0">
            <div class="form-floating">
                <textarea class="form-control text-center fs-4" id="battleDice" style="height: 80px;">@BattleDice</textarea>
                <label for="battleDice">Бойові Куби</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <textarea class="form-control" id="adrenaline" style="height: 80px;"></textarea>
                <label for="adrenaline">Адреналін</label>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string BattleDice { get; set; }
}