@page "/"

<div class="container-fluid">
    <div class="row charinfo">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="charName" />
                <label for="charName">Ім'я персонажа</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="charLevel" />
                <label for="charLevel">Рівень</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="charClass" />
                <label for="charClass">Клас</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="charRace" />
                <label for="charRace">Раса</label>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col attribute">
            <b>Міць</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="col attribute">
            <b>Прудкість</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="col attribute">
            <b>Сприйняття</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="col attribute">
            <b>Розум</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="col attribute">
            <b>Рішучість</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="col attribute">
            <b>Вдача</b>
            <p class="fs-3">&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div class="row skills">
        <div class="col">
            <table class="table table-sm caption-top">
                <caption>Навички Знань</caption>
                <tbody>
                    <tr>
                        <td>Лор</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Містика</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Науки</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Окультизм</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top">
                <caption>Навички Середовища</caption>
                <tbody>
                    <tr>
                        <td>Виживання</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Дослідження</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Непомітність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Тваринництво</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Уважність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top">
                <caption>Фізичні Навички</caption>
                <tbody>
                    <tr>
                        <td>Витривалість</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Мобільність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Моторність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Сила</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Спритність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm caption-top">
                <caption>Соціальні Навички</caption>
                <tbody>
                    <tr>
                        <td>Авторитетність</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Воля</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Переконливість</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Прозорливість</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="speed" />
                        <label class="text-sm" for="speed">Швидкість</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="tierDice" />
                        <label class="text-sm" for="tierDice">Куб Рангу</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="luck" />
                        <label class="text-sm" for="luck">Заряди Вдачі</label>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="maxHP" />
                        <label class="text-sm" for="maxHP">Макс Здоров'я</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="bloodyHP" />
                        <label class="text-sm" for="bloodyHP">Поранення</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="healDice" />
                        <label class="text-sm" for="maxHP">Куб Здоров'я</label>
                    </div>
                </div>
                <div class="col charinfo p-1">
                    <p class="text-sm mb-0">Заряди</p>
                    <input type="checkbox" />
                    <input type="checkbox" />
                    <input type="checkbox" />
                    <input type="checkbox" />
                    <input type="checkbox" />
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="HP" />
                        <label class="text-sm" for="HP">Здоров'я</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="adrenaline" />
                        <label class="text-sm" for="adrenaline">Адреналін</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="scars" />
                        <label class="text-sm" for="scars">Шрами</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="injury" />
                        <label class="text-sm" for="injury">Травми</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="charm" />
                        <label class="text-sm" for="charm">Шарм</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="initiative" />
                        <label class="text-sm" for="initiative">Ініціатива</label>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col charinfo">
                    <p class="text-sm mb-0">Куби Атаки</p>
                    <p>&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="col charinfo">
                    <p class="text-sm mb-0">Куби Захисту</p>
                    <p>&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="blunt" />
                        <label class="text-sm" for="blunt">Опір Дробленню</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cut" />
                        <label class="text-sm" for="cut">Опір Різанню</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="thrust" />
                        <label class="text-sm" for="thrust">Опір Протиканню</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="fire" />
                        <label class="text-sm" for="fire">Опір Вогню</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="electric" />
                        <label class="text-sm" for="electric">Опір Електриці</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cold" />
                        <label class="text-sm" for="cold">Опір Холоду</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="sound" />
                        <label class="text-sm" for="sound">Опір Звуку</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="corosion" />
                        <label class="text-sm" for="corosion">Опір Їдкості</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="spirit" />
                        <label class="text-sm" for="spirit">Опір Духовній Шкоді</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mental" />
                        <label class="text-sm" for="mental">Опір Ментальній Шкоді</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="necro" />
                        <label class="text-sm" for="necro">Опір Некротиці</label>
                    </div>
                </div>
                <div class="col charinfo">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="light" />
                        <label class="text-sm" for="light">Опір Сяянню</label>
                    </div>
                </div>
            </div>
            <div class="row charinfo">
                <div class="col">
                    <p class="mb-0">&nbsp;&nbsp;&nbsp;</p>
                    <p class="mb-0">&nbsp;&nbsp;&nbsp;</p>
                    <p class="mb-0">&nbsp;&nbsp;&nbsp;</p>
                    <p class="mb-0">&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-5 charinfo"></div>
    </div>
</div>
