@page "/"

<div>
    <CharInfo></CharInfo>
    <Attributes></Attributes>
    <Skills></Skills>
    <Misc></Misc>
    <HP></HP>
    <Defences></Defences>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 p-0 m-0">
                <Fatigue></Fatigue>
            </div>
            <div class="col p-0 m-0 cs-border">
            </div>
        </div>
        <div class="row">
            <div class="col-5 cs-border">
            </div>
            <div class="col cs-border">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p class="m-0">&nbsp;</p>
            </div>
        </div>
    </div>
</div>
