@page "/katarakta"

<div>
    <CharInfo Name="Катаракта" Level="2" Archetype="Відьмак" Class="Винахідник" Ancestry="Імерит" Heritage="Вогняний"></CharInfo>
    <Attributes Might="7" Agility="3" Perception="6" Intellect="10" Resolve="9" Luck="3"></Attributes>
    <Skills Might="7" Agility="3" Perception="6" Intellect="10" Resolve="9" Luck="3"></Skills>
    <Misc Speed="6" Reaction="1" Initiative="1д8"></Misc>
    <HP BattleDice="1д8+1д10+1д12"></HP>
    <Defences></Defences>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 p-0 m-0">
                <Fatigue></Fatigue>
            </div>
            <div class="col p-0 m-0 cs-border">
                <Feature Caption="Несамовита Лють">Ваші атаки підсилені Кубом Люті, розмір якого залежить від рівня вашого Виснаження. Також в бою ви ігноруєте негативні ефекти останнього рівня Виснаження.</Feature>
                <Feature Caption="Шаленство">Отримуючи одну Втому, ви можете використовувати Куб Люті двічі за Атаку.</Feature>
                <Feature Caption="Агресивний Натиск">Отримуючи одну Втому, ви можете збільшити свою Швидкість на значення рівня вашого Виснаження до кінця вашого ходу.</Feature>
                <Feature Caption="Швидке Відновлення" NoBorder="true">Під час Відпочинку ви можете використати Куб Здоров’я щоб зняти відповідну кількість Втоми.</Feature>
            </div>
        </div>
        <div class="row">
            <div class="col-5 cs-border p-0 m-0">
                <Feature Caption="Бойова Роль" NoBorder="true"></Feature>
            </div>
            <div class="col cs-border p-0 m-0">
                <Feature Caption="Бойові Рефлекси">Ваш запас Реакцій на раунд збільшений на одну та збільшується ще на одну на початку кожного наступного Рангу.</Feature>
                <Feature Caption="Прилив Адреналіну" NoBorder="true">Ваші Навички Тіла збільшені на один. На початку кожного наступного Рангу вони збільшуються ще на один.</Feature>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="page-break-before: always!important;">
        <div class="row">
            <div class="col-4 cs-border pt-2" style="height: 276px;">
            </div>
        </div>
    </div>
</div>
