@inherits LayoutComponentBase

<nav class="navbar navbar-dark  bg-dark navbar-expand-md">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/pentaforce/dice">Таблиця Кубів</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pentaforce/class">Архетипи та Класи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pentaforce/race">Роди та Спадщини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pentaforce/abilities">Здібності</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@Body
