@inherits LayoutComponentBase

<nav class="navbar navbar-dark  bg-dark navbar-expand-md d-print-none">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/Pentaforce/dice">Таблиця Кубів</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/class">Архетипи та Класи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/race">Роди та Спадщини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/abilities">Здібності</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/charsheet">Лист Персонажа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/noiz">Нойз</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/kreghar">Крегхар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/katarakta">Катаракта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pentaforce/automaton">Автоматон</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@Body
